name: Build examples and upload hello world as artifacts
on:
  push:
    branches:
      - 'master'

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4.1.7
        with:
          submodules: 'recursive'

      - name: Install dependencies
        run: |
            sudo apt-get install cmake gcc-arm-none-eabi

      - name: Build Hello World example for NUCLEO_L432KC
        run: |
            cmake NUCLEO_L432KC/ -B NUCLEO_L432KC/build/ -DLT_EX_HELLO_WORLD=ON
            pushd NUCLEO_L432KC/build/
            make
            popd

      - name: Build Hello World example for NUCLEO_F439ZI
        run: |
            cmake NUCLEO_F439ZI/ -B NUCLEO_F439ZI/build/ -DLT_EX_HELLO_WORLD=ON
            pushd NUCLEO_F439ZI/build/
            make
            popd

      - name: Upload artifact for NUCLEO_L432KC
        uses: actions/upload-artifact@v4.4.0
        with:
          name: 'NUCLEO_L432KC-hello-world'
          path: 'NUCLEO_L432KC/build/stm32_example.*'
          if-no-files-found: 'error'
          retention-days: 0
          overwrite: true
          include-hidden-files: false

      - name: Upload artifact for NUCLEO_F439ZI
        uses: actions/upload-artifact@v4.4.0
        with:
          name: 'NUCLEO_F439ZI-hello-world'
          path: 'NUCLEO_F439ZI/build/stm32_example.*'
          if-no-files-found: 'error'
          retention-days: 0
          overwrite: true
          include-hidden-files: false
